#Header {
  background: black;
  padding: 2%;
  margin: 0px;
  font-size: 12px;
  color: white;
  box-sizing: border-box;
}

#Biden-Harris, 
#Women, 
#Trump {
  width: 30%;
  float: left;
  /* clear: both; */
}

.Main-Group{
  clear: both;
  float: left;
  margin: 0 1.5%;
}

.Aside-Group{
  margin: 0 1.5%;
  display: inline-block;
}

/* #Date {
  
} */

